@using StandardEng.Common
@model StandardEng.Data.CustomModel.ForgotPasswordModel

@{
    Layout = null;
    ViewBag.Title = "Forgot Password";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Standard Engineering</title>

    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap_limitless.min.css" rel="stylesheet" />
    <link href="~/Content/css/layout.min.css" rel="stylesheet" />
    <link href="~/Content/css/components.min.css" rel="stylesheet" />
    <link href="~/Content/css/colors.min.css" rel="stylesheet" />
    <link href="~/Content/css/pnotify.custom.min.css" rel="stylesheet" />
</head>
<body>

    <!-- Page content -->
    <div class="page-content login-cover">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Forgot Password form -->
                <form class="login-form" action="@Url.Action("ForgotPassword","Login")" method="post">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <i class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
                                <h5 class="mb-0">Password recovery</h5>
                                <span class="d-block text-muted">We'll send you instructions in email</span>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @required = "required" , @placeholder = "Email Address"})
                                <div class="form-control-feedback">
                                    <i class="icon-mail5 text-muted"></i>
                                </div>
                            </div>

                            <button type="submit" class="btn bg-blue btn-block"><i class="icon-spinner11 mr-2"></i> Recover Password </button>
                            <a class="btn bg-blue btn-block" href="@Url.Action("Index","Login")"><i class="icon-home2 mr-2"></i> Back to Sign In </a>
                        </div>
                    </div>
                </form>
                <!-- /login form -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

    <script src="~/Scripts/JS/jquery.min.js"></script>
    <script src="~/Scripts/JS/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/JS/app.js"></script>
    <script src="~/Scripts/pnotify.custom.min.js"></script>

    <script type="text/javascript">
         $(document).ready(function () {

            var errormessage = '@TempData[Enums.NotifyType.Error.GetDescription()]';
            var successmessage = '@TempData[Enums.NotifyType.Success.GetDescription()]';
            if (errormessage !== "") {
                ShowErrorMessage(errormessage);
            }

            if (successmessage !== "") {
                SucessMessage(successmessage);
            }
        });

        function ShowErrorMessage(msg) {
            new PNotify({
                text: msg,
                type: 'error'
            });
        }


        function SucessMessage(msg) {
            new PNotify({
                text: msg,
                type: 'success'
            });

        }
    </script>
</body>
</html>

