@model StandardEng.Data.CustomModel.ResetPasswordModel
@using StandardEng.Common
@{
    Layout = null;
    ViewBag.Title = "Reset Password";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Standard Engineering</title>

    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap_limitless.min.css" rel="stylesheet" />
    <link href="~/Content/css/layout.min.css" rel="stylesheet" />
    <link href="~/Content/css/components.min.css" rel="stylesheet" />
    <link href="~/Content/css/colors.min.css" rel="stylesheet" />
    <link href="~/Content/css/pnotify.custom.min.css" rel="stylesheet" />

</head>
<body>

    <!-- Page content -->
    <div class="page-content login-cover">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Forgot Password form -->
                <form class="login-form" action="@Url.Action("ResetPassword","Login")" method="post">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <h5 class="mb-0">Reset Password</h5>
                            </div>
                            @Html.HiddenFor(m => m.UserId)
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @required = "required", @placeholder = "Password" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", @required = "required", @placeholder = "Confirm Password" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <button type="submit" class="btn bg-blue btn-block" ><i class="icon-spinner11 mr-2"></i>Reset password</button>
                        </div>
                    </div>
                </form>
                <!-- /login form -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

    <script src="~/Scripts/JS/jquery.min.js"></script>
    <script src="~/Scripts/JS/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/JS/app.js"></script>
    <script src="~/Scripts/pnotify.custom.min.js"></script>

    <script type="text/javascript">
         $(document).ready(function () {

            var errormessage = '@TempData[Enums.NotifyType.Error.GetDescription()]';
            var successmessage = '@TempData[Enums.NotifyType.Success.GetDescription()]';
            if (errormessage !== "") {
                ShowErrorMessage(errormessage);
            }

            if (successmessage !== "") {
                SucessMessage(successmessage);
            }
        });

        function ShowErrorMessage(msg) {
            new PNotify({
                text: msg,
                type: 'error'
            });
        }


        function SucessMessage(msg) {
            new PNotify({
                text: msg,
                type: 'success'
            });

        }
    </script>
    @*<div class="login">
            <div class="login-body">
                <a class="login-brand" href="@Url.Action("Index","Login")">
                    <img class="img-responsive" src="@Url.Content("/Content/img/logo.png")" alt="JMS">
                </a>
                <div class="login-form">
                    @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @class = "login", role = "form" }))
                    {
                        @Html.HiddenFor(m=>m.UserId)
                        <div class="md-form-group md-label-floating">
                            @Html.TextBoxFor(m => m.Password, new { @class = "md-form-control", @type = "password", @required = "required" })
                            <label class="md-control-label">Email address</label>
                        </div>
                        <div class="md-form-group md-label-floating">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "md-form-control", @type = "password", @required = "required" })
                            <label class="md-control-label">Email address</label>
                        </div>

                        <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                    }
                </div>
            </div>
            <div class="login-footer">
                Go Back <a href="@Url.Action("Index","Login")">Sign IN</a>
            </div>
        </div>*@
</body>
</html>





