@using StandardEng.Data.CustomModel
@model AMCServiceStatusPartialModel

<div class="k-edit-form-container" id="statusItem">
    @Html.HiddenFor(m => m.AMCServiceId)

    <div class="k-edit-label">
        @Html.LabelFor(m => m.Remarks)
    </div>
    <div class="k-edit-field">
        @Html.TextAreaFor(m => m.Remarks, 3,5, new { @tabindex = "1", @class = "k-textbox" })
        @Html.ValidationMessageFor(m => m.Remarks)
    </div>

    <div class="k-edit-label">
        @Html.LabelFor(m => m.IsServiceDone)
    </div>
    <div class="k-edit-field">
        @Html.Kendo().CheckBoxFor(m => m.IsServiceDone).Checked(true)
        @Html.ValidationMessageFor(m => m.IsServiceDone)
    </div>

    <div class="k-edit-buttons k-state-default">
        <a class="k-button k-button-icontext" href="javascript:void(0)" onclick="ChangeAMCServiceStatus()">Change Status</a>
        <a class="k-button k-button-icontext" href="javascript:void(0)" onclick="ClosePopupItems() ">Cancel</a>
    </div>
</div>

