
@{
    ViewBag.Title = "AMC";
}

<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - AMC</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="@Url.Action("Index","Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">AMC</span>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">AMC List</h5>
                </div>
                <div class="card-body">

                    @(Html.Kendo().Grid<GetAMCList_Result>()
                                                     .Name("gridAMC")
                                                     .Columns(columns =>
                                                     {
                                                         if (AuthorizationHelper.CanEditDelete(ViewContext.RouteData.Values["Controller"].ToString()))
                                                         {
                                                             columns.Command(command =>
                                                             {
                                                                 if (AuthorizationHelper.CanEdit(ViewContext.RouteData.Values["Controller"].ToString()))
                                                                 {
                                                                     command.Custom("Edit").Text("<span class='k-icon k-i-edit' title='Edit'></span>").HtmlAttributes(new { @style = "margin:2px" }).Click("onEdit");
                                                                 }
                                                                 if (AuthorizationHelper.CanDelete(ViewContext.RouteData.Values["Controller"].ToString()))
                                                                 {
                                                                     command.Destroy().Text(" ");
                                                                 }
                                                                 if (AuthorizationHelper.CanEdit(ViewContext.RouteData.Values["Controller"].ToString()))
                                                                 {
                                                                     command.Custom("Report").Text("<span class='k-icon k-i-print' title='Report'></span>").HtmlAttributes(new { @style = "margin:2px;" }).Click("onReport");
                                                                     command.Custom("StartAMCService").Text("<span class='k-icon k-i-checkbox-checked' title='Start AMC Service'></span>").HtmlAttributes(new { @style = "margin:2px;", @id = "btnAMCPI" }).Click("onStartAMCService");
                                                                 }
                                                             }).Title("Action").HtmlAttributes(WebHelper.ActionCenterColumnStyleWithCanStatus)
                                                             .HeaderHtmlAttributes(WebHelper.ActionCenterColumnStyleWithCanStatus);
                                                         }
                                                         columns.Bound(d => d.QuotationNo);
                                                         columns.Bound(d => d.AMCDate).Format("{0:" + WebHelper.DateFormate + "}");
                                                             //columns.Bound(d => d.AMCEndDate).Format("{0:" + WebHelper.DateFormate + "}");
                                                             columns.Bound(d => d.CustomerName);
                                                         columns.Bound(d => d.ContactPersonName);
                                                         columns.Bound(d => d.ContactNo);
                                                         columns.Bound(d => d.EmailAddress);
                                                         columns.Bound(d => d.MachineTypeName);
                                                         columns.Bound(d => d.MachineName);
                                                         columns.Bound(d => d.MachineSerialNo);
                                                         columns.Bound(d => d.Amount);
                                                         columns.Bound(d => d.GSTPercentage);
                                                         columns.Bound(d => d.GSTAmount);
                                                         columns.Bound(d => d.FinalAmount);

                                                     })
                                                     .Pageable(x =>
                                                     {
                                                         x.Refresh(true);
                                                         x.PageSizes(WebHelper.PageSizes);
                                                     })
                                                      .Editable(editable =>
                                                      {
                                                          editable.DisplayDeleteConfirmation("Are you sure you want to delete these AMC?");
                                                      })
                                                     .Sortable(sortable => sortable.AllowUnsort(false))
                                                     .Filterable()
                                                     .Scrollable(e => e.Enabled(true))
                                                     .NoRecords()
                                                     .HtmlAttributes(new { @style = "height:500px" })
                                                     .Events(e => e.DataBound("onDataBound"))
                                                     .DataSource(dataSource => dataSource
                                                     .Ajax()
                                                     .ServerOperation(true)
                                                     .PageSize(WebHelper.PageSize)
                                                     .Model(model => model.Id(d => d.AMCId))
                                                     .Events(events => events.Error("onError(\"gridAMC\")"))
                                                     .Read(read => read.Action("KendoRead", "AMC"))
                                                     .Destroy(update => update.Action("KendoDestroy", "AMC"))

                                                ))
                </div>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Window()
                  .Name("wReport")
                  .Title("AMC Report")
                  .Visible(false)
                  .Draggable(true)
                  .Modal(true)
                  .Width(850)
                  .Height(600))

<script type="text/javascript">

    function onEdit(e) {
        e.preventDefault();
        var tr = $(e.target).closest("tr");
        var data = this.dataItem(tr);
        var urllink = '@Url.Action("Edit", "AMC")';
        if (data != null)
            window.location.href = urllink + "?id=" + data.AMCId;
    }

    function onDataBound(e) {
        var grid = $("#gridAMC").data("kendoGrid");
        for (var i = 0; i < grid.columns.length; i++) {
            grid.autoFitColumn(i);
        }

        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            if (gridData[i].IsServiceStarted) {
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                var editButton = $(currenRow).find("#btnAMCPI");
                editButton.hide();
            }
        }

    }

    function onStartAMCService(e) {
        e.preventDefault();
        var grid = $("#gridAMC").data("kendoGrid");
        var tr = $(e.target).closest("tr");
        var data = grid.dataItem(tr);
        if (data != null) {

            bootbox.confirm('Are you sure you want to Start AMC Service?', function (result) {
            if (result === true) {
                var url = '@Url.Action("StartAMCService", "AMC")?AMCId=' + data.AMCId;
                   window.location.href = url;
                }
            }, 'popup-confirmation');

     }
    }

    function onReport(e) {
        e.preventDefault();
        var tr = $(e.target).closest("tr");
        var data = this.dataItem(tr);
        var urllink = '@Url.Action("AMCReport", "AMC")';
        var window = $("#wReport").data("kendoWindow");
        window.refresh({
            url: urllink,
            data: { "AMCId": data.AMCId, "Reportname": "AMC_" + data.QuotationNo }
        });
        window.center();
        window.open();
    }
</script>


